.input {
    color: #8707ff;
    font-size: 15px;
    border: 2px solid #8707ff;
    border-radius: 20px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    margin-right: 1em;
   }


.input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   
