body {
  text-align: center;
   background-image:url('/src/img/fondo.webp');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   padding-bottom: 0px;
   margin-bottom: 0px;
   width: 100%;
   box-sizing: border-box;
}


